<!DOCTYPE html>
<html lang="en">
<% include ./partials/head%>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <% include ./partials/nav%>
  <div class="content-wrapper">
    <!-- content here -->
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="">First name</label>
                <input class="form-control" id="" type="text" aria-describedby="" placeholder="Enter first name">
              </div>
              <div class="col-md-6">
                <label for="">Last name</label>
                <input class="form-control" id="" type="text" aria-describedby="" placeholder="Enter last name">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Email address</label>
            <input class="form-control" id="" type="email" aria-describedby="" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input class="form-control" id="" type="password" placeholder="Password">
          </div>
          <a class="btn btn-primary btn-block" href="/signup">Register</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="/login">Login Page</a>
        </div>
      </div>
    </div>
    <!-- /content -->
  </div>
    <% include ./partials/footer%>
  </div>
</body>
</html>